/* Header Colors */
h1, .cm-header-1 {
    color: rgb(255, 189, 63)!important;
 } 

 h2, .cm-header-2 {
    color: #f7a014 !important;
 }

h3, .cm-header-3{
    color: #f9c74f !important;
}

h4, .cm-header-4{
    color: #F94144 !important ;
}

h5, .cm-header-5 {
    color: #577590 !important;
}

h6, .cm-header-6 {
    color: #277da1 !important;
}

.cm-strikethrough {
    color: #d6d6d66e
}

.cm-em {
    color: rgb(255, 188, 63) !important;
}

.cm-strong{
    color: #3a7ce6 !important;
}

.cm-strong.cm-em{
    color: #fa5a8a !important;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0 !important;
    margin-bottom: 0.5rem !important;
}

p{
    margin-top: 0 !important;
}